@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Cinzel&family=Maven+Pro:wght@900&family=Montserrat:wght@300&display=swap');
.cardList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardList li{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.usedLot {
    background-color: red;
}
.freeLot {
    background-color: green;
}
.availabilityIndicator{
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.availabilityContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sensorCard {
    width:100%;
    height: 100%;
}
.cardHeader {
    background-color: #72A1E5;
    color: white;
}
.cardContent {
    font-family: "Montserrat";
    padding: 0px 16px;
}
.cardContent > * {
    margin: 15px 0;
}
.cardHeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardHeaderAvatar{
    background-color: white;
    color: #72A1E5;
    font-size: 20pt;
}
