.header {
    height: 150px;
    background-color: #93B1A6;


}
.header nav, .topBar{
    width: 100%;
}
.badgeContainer {
    margin-right: 35px;
}
.topBar {
    height: 50px;
}


.header nav ul{
    list-style-type: none;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.header nav ul li {
    background-color: #5C8374;
    padding: 5px;
    color: snow;;
    border-radius: 7px;
}
.userContainer {
    margin-top: 20px;
    margin-right: 50px;
    position: relative;
    float:right;
}