.wrapper {
    font-family: Arial;
    margin-top: 50px;
    width: 100%;
}
.bookingContainer{
    background-color: whitesmoke;
    grid-area: booking;
    width:100%;
    max-width: 500px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden ;
}
.bookingHeader {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
}
.userData {
    grid-area: uData;
}
.userData ul li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.userData h2 {
}
.layoutWrapper {
    display: grid;
    grid-template-areas:
        "uData booking";
    grid-template-columns: 3fr 1fr;
    gap: 0 100px;
    margin-top: 50px;
}
.btngrp {
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.btngrp button {
    width: 100%;
}