.dataTable {
    text-align: center;
}
.contentWrapper {
    overflow-y: scroll;
    max-height: 500px;
}
.dataBar {
    position: relative;;
    height: 30px;
    overflow: hidden;
}
.dataBar section {
    height: 100%;
    background-color: green;
    position: absolute;
}
.dataTable tr {
    height: fit-content;

}
.dataTable tr td{
    padding: 10px 0;
}
.dataTable * {
    margin: 0;
    padding: 0;
}
